  :root > * {
  --md-code-fg-color: #F52727;
    /* Code block color shades */
    /* --md-code-bg-color: hsla(0, 0%, 96%, 1); */
    /* --md-code-fg-color: hsla(200, 18%, 26%, 1);*/

    /* Footer 
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3); */
  }

.petite-police {
  font-size: small;
}

.couleur-introduction {
  color:lightslategray;
}
.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.fa-play:before {
  content:"\f04b"
}
.fa-history::before {
  content:"\f1da"
}
.fa-pencil::before {
  content:"\f040"
}
.fa-plus::before {
  content:"\f067"
}
.fa-triangle-exclamation::before {
  content:"\f071"
}
.fa-cadenas:before {
  content:"\f023"
}
.tag {
    display: inline-block;
    border: 1px solid #666;
    background-color: #eee;
    color: #333;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-transform: capitalize;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}



